.parent-container {
  position: relative;
  height:100%;
  width: 100%;
}

.child-container {
  color: #5a4c7a;
  text-align: center;
  position: center;

}
.desc {
  color: #110627;
  font-family: Georgia;
  font-size: 20px;
}

